
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #111217;
}

#footer-main {
	padding-top: 5rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid #18191e;
}

#footer-bottom {
	padding: 2rem 0 5rem;

	p {
		color: #8c8c8c;
		font-size: 0.875rem;
	}
}