
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 1.875rem; 
	position: relative;
	
	.title {
		line-height: 1.2;
		font-size: 2.8125rem;
		color: $white;
		font-weight: 400;
	}
}